@import url(./globalStyle.css);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    color: var(--secondary);
    margin: 5%;
    font-size: 2.1rem;
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

main ul li {
    margin: 5vh 0;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    min-height: 400px;
    border: 3px solid var(--primary);
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
}

main ul li:hover {
    transition: .5s;
    background-color: white;
    color: var(--primary);
}

main ul li section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

main ul li section p {
    font-size: larger;
    flex: 1 1 600px;
    line-height: 36px;
}

main ul li section img {
    width: 180px;
    border-radius: 5px;
    margin: 1%;
}

.icons {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;    
    align-items: center;
}

.icons div{
    display: flex;
    align-items: center;   
    
}

.icons div a {
    color: var(--secondary);
    margin-left: 10px;
    font-weight: 500;
}
.icons div a:hover{
    text-decoration: underline;
}