@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #5CB8FF;
    --secondary: #005477;
    --dark: #000;
    --light: #fff;

    --value-max-width: 1920px;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

body {
    max-width: var(--value-max-width);
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    max-width: var(--value-max-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#3A9AF9, #5CB8FF, #3A9AF9);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 0;
    justify-content: space-around;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    margin: 40px;
    border-right: 1px solid var(--light);
    padding-right: 10px;
}

header nav ul li:hover {
    font-size: 1.7rem;
    text-decoration: underline;
    font-weight: 500;
    color: var(--light);
    transition: 0.3s;
}

header nav ul li a {
    color: var(--light);
    padding: 0px 15px;
}

header section {
    margin: 0 auto;
    flex-shrink: 1;
    flex-grow: 1;
}

header section img {
    max-height: 300px;
    width: 100%;
    max-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 20px;
}

/* banner */

.banner {
    width: 100vw;
    height: 25vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.footer aside ul {
    display: flex;
    list-style: none;
}

.footer aside ul li a {
    color: var(--light);
    margin: 30px 40px 10px;
}

.footer aside ul li a:hover {
    font-size: 1.7rem;
    text-decoration: underline;
    font-weight: 500;
    color: var(--light);
}

footer div p {
    height: 40px;
    width: 100%;
    color: var(--light);
}

.footer img {
    width: 100px;
    height: 100px;
}

.logo {
    filter: invert();
}

@media(max-width: 600px) {
    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        border-right: none;
        margin: 5vh;
    }

    header nav ul li a {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }

    .footer aside ul {
        flex-direction: column;
    }

    .footer aside ul li {
        margin: 5vh;
    }
}