@import url(./globalStyle.css);

body {
    max-width: var(--value-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--dark-text-color);
    background-color: var(--light-color);
    width: 90%;
}

main h1 {
    font-size: 2.1rem;
    margin: 20px auto;
}

main article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main article div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 300px;
    color: var(--light-text-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 1%;

}

main article div section:hover {
    transition: .5s;
    background-color: var(--light-color);
    color: var(--primary-color);
}

main article div section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--light-text-color);
    padding: 1%;
}

main article div h2 {
    padding: 20px;
    text-align: center;
    font-size: 2.1rem;
}

main article div section img {
    max-height: 300px;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border-radius: 10px;
}

main article div section p {
    padding: 20px;
    line-height: 36px;
    text-align: center;
}

main .projetos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.projetos h2 {
    margin: 20px auto;
    font-size: 2.1rem;
}

main .projetos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

main .projetos div section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 10px;
    flex: 1 1 250px;
}

main .projetos div section figure {
    color: var(--light-text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

main .projetos div section figure img {
    max-width: 250px;
    max-height: 300px;
}

main .projetos div section figure figcaption a {
    text-decoration: none;
    color: var(--light-text-color);
    text-align: center;
}

main .projetos div section figure:hover img {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.banner {
    background-image: url("../../resources/images/banners/banner-projetos.jpg");
}